cornell/data/6_timings.RData filter=lfs diff=lfs merge=lfs -text
cornell/data/fitted_models_jing_5.8.Rdata filter=lfs diff=lfs merge=lfs -text
cornell/data/fitted_models_trunc_full.Rdata filter=lfs diff=lfs merge=lfs -text
cornell/data/fitted_models_trunc_marginal_full.Rdata filter=lfs diff=lfs merge=lfs -text
cornell/data/params_theta.Rdata filter=lfs diff=lfs merge=lfs -text
cornell/data/results_grid.RData filter=lfs diff=lfs merge=lfs -text
cornell/data/sample_images.Rdata filter=lfs diff=lfs merge=lfs -text
