# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user
*.Rproj

# tex
*.nav
*.snm
*.bbl
*.vrb

oral/slides_cache/*
oral/slides_files/*
cornell/slides_cache/*
cornell/slides_files/*

oral/data/*.Rdata

